@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.ReadAllCampaignOffersModel
@{
}

<h1>Kampagne</h1>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Billede</th>
            <th>Pris</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaignOffer in Model.CampaignOffers)
        {
            <tr>
                <td>@campaignOffer.Name</td>
                <td><img src="@campaignOffer.ImageLink" alt="Billede" style="width: 100px; height: auto;" /></td>
                <td>@campaignOffer.Price</td>
                <td>
                    <a asp-page="./UpdateCampaignOffer" asp-route-id="@campaignOffer.Id">Rediger</a> |
                    <a asp-page="./DeleteCampaignOffer" asp-route-id="@campaignOffer.Id">Slet</a>
                </td>
            </tr>
        }
</table>